@use "../../abstracts/variables" as var;
@use "../../abstracts/mixins" as m;

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-field__container {
  display: grid;
  gap: 16px;

  @include m.media-query(min, var.$breakpoint-xl) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include m.media-query(max, var.$breakpoint-xl) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include m.media-query(max, var.$breakpoint-2sm) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  & > :last-child {
    @include m.media-query(max, var.$breakpoint-xl) { grid-column: span 2 / span 2; }
    @include m.media-query(max, var.$breakpoint-2sm) { grid-column: span 1 / span 1; }
  }
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__input { position: relative; }
}

.form-field__error-list {
  list-style: disc;
  padding-left: 18px;
  margin-bottom: 0;
}

.form-field__error {
  @include m.typography(500, 14px, 20px, normal, var.$color-red);
}